* {
    box-sizing: border-box;
    margin: 0;

    font-family: "Roboto", serif;
}
main {
    background-color: #1F2937;
    height: 450px;
}
h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}
header {
    height: 75px;
}
section {
    height: 400px;
    display: flex;
    flex-direction: column;
}
article {
    height: 400px;
    background-color: #E5E7EB;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
aside {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer {
    background-color: #1F2937;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mainText {
    color: #E5E7EB;
}
.buttonTop {
    background-color: #3882F6;
    color: #F9FAF8;
    border: none;
    border-radius: 6px;
    height: 28px;
    width: 88px;
    font-weight: 800;
}
.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}
.nav {
    list-style-type: none;
    display: flex;
    color: #F9FAF8;
}
.navBar  {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}
li {
    margin-left: 20px;
}
li:hover {
    color: #3882F6
}
.topSection {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
}
img {
    width: 360px;
    display: flex;
}
.imgContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-left: 68px;
    margin-right: 68px;
    align-items: center;
}
h2 {
    color: #1F2937;
    font-size: 36px;
    font-weight: 800;
    text-align: center;
    margin-top: 24px;
    
}
.box {
    border: 2px #3882F6 solid;
    border-radius: 12px;
    display: flex;
    height: 162px;
    width: 162px;
    align-content: center;
    flex-wrap: wrap;
}
.box:hover {
    background-color: #3882F6;
}
.boxContainer {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-right: 212px;
    margin-left: 212px;
    align-content: center;
    height: 100%;
}
div div p {
    text-align: center;
    font-size: 18px;
    flex: auto;
}
.quote {
    font-style: italic;
    font-size: 36px;
    color: #1F2937;

}
.quoteAuthor {
    font-weight: 800;
    align-self: auto;
}
.signUpAd {
    display: flex;
    background-color: #3882F6;
    align-items: center; 
    justify-content: space-evenly;
    flex-direction: row;
    height: 50%;
    width: 75%;
    border-radius: 12px;
}
h3 {
    font-weight: 800;
    color: #F9FAF8;
}
.signUp {
    color: #F9FAF8;
}
.buttonBottom {
    height: 28px;
    width: 88px;
    background-color: #3882F6;
    color: #F9FAF8;
    border: 2px solid #F9FAF8;
    border-radius: 8px;
    font-weight: 800;
}
footer p {
    color:#F9FAF8;
}